.card {
    display: flex;
    height: 720px;
    padding: 8px;
    border-radius: 40px;
    border: 1px solid rgba(124, 124, 124, 0.25);
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 8px 16px 0 rgba(0, 0, 0, 0.60);
}

.card .img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 32px;
}

.frame {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background-color: #fff;
}

.frame iframe {
    width: 100%;
    border-radius: 32px;
    border: none;
}

.device-screen iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 49px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.mock-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.dl-body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    height: fit-content;
}

.dl-body .title-info {
    font-size: 48px;
    font-weight: 600;
}

.dl-body .title-info span:last-child {
    color: rgba(255, 255, 255, 0.60);
}

.dl-body .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 24px;
}

.dl-body .info span {
    word-break: keep-all;
    /* ไม่หั่นกลางคำไทย */
    overflow-wrap: break-word;
    /* ตัดเฉพาะตอนชนขอบจริง ๆ */
    white-space: normal;
    /* ให้ขึ้นบรรทัดได้ตามปกติ */
    hyphens: manual;
}

.controlbtn.visit {
    width: fit-content;
    gap: 20px;
}

.skill-con.tools {
    justify-content: center;
}

.skill-con.tools .sub-title {
    text-align: center;
}

.controlbtn.github {
    width: fit-content;
    min-width: 0;
    font-size: 34px;
}

.btn-con {
    display: flex;
    gap: 30px;
}