.controls-wrap {
    position: sticky;
    top: 10px;
    z-index: 1000;
}


.controls {
    display: flex;
    padding: 40px 64px;
    gap: 16px;
    margin-left: -24px;
    margin-right: -24px;
}

.controlbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 80px;
    border: 1px solid rgba(124, 124, 124, 0.25);
    font-size: 22px;
    min-width: 235px;
    font-weight: 600;
    color: #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(21, 22, 26, 0.65) 100%), rgba(0, 0, 0, 0.20);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04),
        0 2px 3px 0 rgba(0, 0, 0, 0.12),
        0 6px 9px 0 rgba(0, 0, 0, 0.60);
    cursor: pointer;
    transition:
        background 220ms ease,
        box-shadow 220ms ease,
        border-color 220ms ease,
        transform 120ms ease;
}

.controlbtn:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(21, 22, 26, 0.65) 100%), rgba(255, 255, 255, 0.10);
}

.controlbtn.active {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(21, 22, 26, 0.65) 100%), rgba(255, 255, 255, 0.15);
}

@media (max-width: 1624px) {
    .controls {
        justify-content: center;
        padding: 40px 0;
    }

    .controlbtn {
        font-size: 16px;
    }
}